main {

  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png);
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
  }

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 10000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 10000px;}
}

h1, p {
  text-align: center;
}

#nasa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
  }

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
  }

figcaption {
  margin-left: auto;
  margin-right: auto;
  max-width: 54%;
}

h2,
ul,
h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  padding: 1em;
}
